@require 'constants.styl'

animation-roll-down(start-height=0, duration=2s, padding=0)
    opacity 0
    max-height start-height
    padding-top 0
    padding-bottom 0
    animation animation-roll-down duration ease forwards
    @keyframes animation-roll-down
        0%
        10%
            opacity 1
        99%
            opacity 1
            padding padding
            max-height 3000px
        100%
            opacity 1
            padding padding
            max-height unset


animation-opacity-slide-in(xDiff=-50px, yDiff=0, duration=0.5s, delay=0.2s)
    opacity 0
    &.__animation-started
        animation opacity-slide-in duration cubic-bezier(0.21, 0.94, 0.58, 1) forwards
        animation-delay 'calc(%s * var(--animation-index))' % (delay)
    @keyframes opacity-slide-in
        from
            transform translate(xDiff, yDiff)
            opacity 0
        to
            transform translate(0, 0)
            opacity 1

opacity-slide-show(xDiff=-50px, yDiff=0, duration=0.4s, delay=0.1s)
    transform translate(xDiff, yDiff)
    opacity 0
    transition 0.4s ease
    transition-delay calc(0.2s * var(--animation-index))
    &.__visible
        transform translate(0, 0)
        opacity 1

hover-effect-opacity()
    cursor pointer
    transition all 0.2s ease
    @media ({desktop})
        &:hover
            opacity 0.7
hover-effect-underline-center(color=white, textColor=inherit)
    cursor pointer
    background linear-gradient(color, color) 50% 100% / 0 2px no-repeat
    transition all .2s
    @media ({desktop})
        &:hover
            background-size 100% 2px
            color textColor
hover-effect-underline-left(color=white, textColor=inherit)
    hover-effect-underline-center(color, textColor)
    background-position 0 100%
