@require 'constants.styl'
@require 'fonts.styl'
@require 'utils.styl'


button(
    color-bg, color-text, color-border,
    color-bg-hover, color-text-hover, color-border-hover,
    color-bg-disabled, color-text-disabled, color-border-disabled
)
    button-no-styles()
    color color-text
    font-medium()
    font-bold()
    padding 15px 20px
    border-radius borderRadiusM
    cursor pointer
    box-sizing border-box
    background color-bg
    border color-border solid 2px
    white-space nowrap
    trans()
    centered-flex-container()

    &:hover
        color color-text-hover
        border-color color-border-hover
        background color-bg-hover

    &[disabled]:not([disabled=false])
        pointer-events none
        color color-text-disabled
        border-color color-border-disabled
        background color-bg-disabled


button-fill()
    button(
        colorEmp16, colorTextLight1, colorEmp16,
        colorEmp21, colorTextEmp, colorEmp21,
        mix(colorEmp11, colorBg, 50%), mix(colorTextLight1, colorBg), colorEmp11
    )
button-fill-accent()
    button(
        colorEmp21, colorTextEmp, colorEmp21,
        colorEmp16, colorTextLight1, colorEmp16,
        mix(colorEmp21, colorBg, 50%), mix(colorTextEmp, colorBg), colorEmp21
    )
button-link()
    button(
        colorBg, colorEmp11, colorEmp11,
        colorBg, colorEmp25, colorEmp25,
        colorBg, mix(colorEmp11, colorBg), mix(colorEmp11, colorBg)
    )
button-danger()
    button(
            colorError, colorText3, colorError,
            mix(colorError, colorBg, 80%), colorText1, colorEmp1,
            mix(colorError, colorBg, 20%), colorText5, colorBg
    )
button-success()
    button(
            colorSuccess, colorText3, colorSuccess,
            mix(colorSuccess, colorBg, 80%), colorText1, colorEmp1,
            mix(colorSuccess, colorBg, 20%), colorText5, colorBg
    )

