// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).

colorEmp11 = #ff6d00
colorEmp12 = #ff7900
colorEmp13 = #ff8400
colorEmp14 = #ff9000
colorEmp15 = #ff9e01

colorEmp21 = #240046
colorEmp22 = #3c0a6b
colorEmp23 = #5a199b
colorEmp24 = #7b2bbe
colorEmp25 = #9d4edd

colorTextEmp1 = #90f3f1
colorTextEmp2 = #76f973

colorBg = #ffffff

colorText1 = #1a1a1a
colorText2 = mix(colorText1, white, 90%)
colorText3 = mix(colorText1, white, 80%)
colorText4 = mix(colorText1, white, 65%)
colorText5 = mix(colorText1, white, 50%)

colorTextLight1 = #e7e7e7
colorTextLight2 = mix(colorTextLight1, black, 90%)
colorTextLight3 = mix(colorTextLight1, black, 80%)
colorTextLight4 = mix(colorTextLight1, black, 65%)
colorTextLight5 = mix(colorTextLight1, black, 50%)

colorSuccess = #54f851
colorAlert = #ffd748
colorError = #ff5556

colorBorder = colorText1

borderRadiusL = 20px
borderRadiusM = 10px
borderRadiusS = 5px

headerHeight = 80px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')
