// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).


colorEmp11 = #ff6d00
colorEmp12 = #ff7900
colorEmp13 = #ff8400
colorEmp14 = #ff9000
colorEmp15 = #ff9e01
colorEmp16 = #ff910d

colorEmp21 = #4d41a2
colorEmp22 = #694bc2
colorEmp23 = #9366e1
colorEmp24 = #b964ff
colorEmp25 = #c876ff

colorTextEmp1 = #a1e3e1
colorTextEmp2 = #67f865

//colorBg = linear-gradient(45deg, black, #ff9e01 50%, #9d4edd 50%, transparent)
//colorBg = linear-gradient(180deg, #ff6d00, #ff9e01 80px, #bca4d9 80px, white)
//colorBg = radial-gradient(colorEmp11, colorEmp21, transparent) 80% 20%
colorBg = white

colorText1 = #1a1a1a
colorText2 = mix(colorText1, white, 90%)
colorText3 = mix(colorText1, white, 80%)
colorText4 = mix(colorText1, white, 65%)
colorText5 = mix(colorText1, white, 50%)

colorTextLight1 = #e7e7e7
colorTextLight2 = mix(colorTextLight1, black, 90%)
colorTextLight3 = mix(colorTextLight1, black, 80%)
colorTextLight4 = mix(colorTextLight1, black, 65%)
colorTextLight5 = mix(colorTextLight1, black, 50%)

colorSuccess = #54f851
colorAlert = #ffd748
colorError = #ff5556

colorBorder = colorText1

borderRadiusXL = 30px
borderRadiusL = 20px
borderRadiusM = 10px
borderRadiusS = 5px

headerHeight = 90px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')
